.nav-container {
  position:absolute;
  top: 60px;
  width: 170px;
  float: left;
  background-color: #353a44;
  overflow: hidden;
  padding: 0;
  height: inherit;
}

.content-container {
  position: absolute;
  top: 60px;
  left: 170px;
  width: calc(100% - 170px);
  height: inherit;
  background-color: #e7edf6;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.content-container .toastify {
  z-index: 9999;
}
