.searchResult {
  margin-top: 10px;
  margin-bottom: 20p;
  padding-left: 20px;
  font-size: 18px
}

.caseList_littleMargin {
  margin-right: 6px;
}

.caseList_header {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 16px 0;
  font-size: 12px;
  color: rgba(53, 58, 68, 0.5);
  font-weight: bold;
  line-height: 12px;
  font-family: "Microsoft Yahei";
}

.caseList_searchBar {
  display: flex;
  justify-content: space-between;
  height: 36px;
  outline: none;
  margin-bottom: 16px;
}

.caseList_searchBar_container {
  display: flex;
  position: relative;
  margin-right: 10px;
  z-index: 1;
}

.caseList_border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border: 1px solid rgba(53, 58, 68, 0.5)
}

.caseList_searchBar_headerText {
  margin: auto 10px auto 10px;
  font-size: 12px;
  color: rgba(53, 58, 68, 0.8);
}

.caseList_middleLine {
  width: 1px;
  height: 20px;
  border: 0.5px solid rgba(53, 58, 68, 0.5);
  margin: auto 0 auto 0;
}

.caseList_input {
  background-color: #e7edf6;
  border: 0;
  height: 18px;
  font-size: 12px;
  margin: auto 10px auto 10px;
}

.caseList_input:focus {
  outline: none;
}

.caseList_input:focus+.caseList_border {
  border-color: #1271E0;
}

.caseList_searchBar_patientID {
  width: 200px;
  flex-grow: 1;
}

.caseList_input_patientID {
  width: 120px;
  flex-grow: 1;
}

.caseList_searchBar_patientName {
  width: 120px;
  flex-grow: 1;
}

.caseList_input_patientName {
  width: 50px;
  flex-grow: 1;
}

.caseList_searchBar_patientAge {
  width: 100px;
  flex-grow: 1;
}

.caseList_input_patientAge {
  width: 35px;
  flex-grow: 1;
}

.caseList_searchBar_patientSex {
  width: 110px;
  flex-grow: 1;
  align-items: center
}

.caseList_input_patientSex {
  width: 45px;
  flex-grow: 1;
  align-items: center
}

.caseList_searchBar_modality {
  width: 120px;
  flex-grow: 1;
}

.caseList_input_modality {
  width: 55px;
  flex-grow: 1;
}

.caseList_searchBar_time {
  width: 330px;
  flex-grow: 1;
}

.caseList_input_time {
  width: 133px;
}

.caseList_buttonList {
  display: flex;
}

.caseList_buttonContainer {
  display: flex;
  margin-right: 10px;
  width: 46px;
  height: 36px;
  border: 1px solid rgba(53, 58, 68, 0.5)
}

.caseList_buttonContainer:hover {
  border: 1px solid #1271E0
}

.caseList_buttonText {
  margin: auto 10px auto 10px;
  font-size: 12px;
  color: #353a44;
}

.caseList_table {
  width: 100%;
}

.caseList_tr {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(53, 58, 68, 0.5)
}

td {
  padding-right: 10px;
  overflow: hidden;
}

th:first-child,
td:first-child {
  padding-left: 20px;
}

.caseList_optionList>button {
  margin-right: 10px;
  float: right;
}

.caseList_td_patientID {
  display: inline-block;
  max-width: 150px;
  margin-right: 5px;
  overflow: hidden;
}

.caseList_td_patientName {
  display: inline-block;
  max-width: 130px;
  margin-right: 5px;
  overflow: hidden;
}