.nav-custom {
  padding-top: 20px;
  text-align: left;
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 100%;
}

.nav-custom li {
  position: relative;
  height: 50px;
}

.nav-custom li:nth-child(2) {
  top: -2px;
}

.nav-custom li:nth-child(3) {
  top: -4px;
}

.nav-custom li a {
  height: inherit;
  position: relative;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 16px 20px;
}

.nav-custom .active a {
  background-color: #2659ad!important;
}

.nav-custom li a:hover {
  background-color: #337ab7;
}
