.nav-container {
  background-color: #353a44;
  overflow: hidden;
  padding: 0;
  height: inherit;
}

.content-container {
  height: inherit;
  background-color: #e7edf6;
  padding-left: 30px;
  padding-right: 30px;
}

.upper-div {
  height: 80px;
  margin-top: 30px;
}

.searchBar {
  position: relative;
  display: inline-block;
  width: 400px;
}

.searchBar input {
  height: 45px!important;
  font-size: 14px!important;
  border: 1px solid black;
}

.btn-search {
  color: grey;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-create-dataset {
  background-image: url(/img/btn_create_dataset.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  width: 120px;
  height: 45px;
}

.bottom-div {
  background-color: white;
  width: 100%;
  border: 1px solid #cddcf2;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #aaaaaa;
}

.bottom-div ul {
  list-style: none;
}

.bottom-div ul li{
  list-style: none;
  padding: 15px 0 15px 0;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
}

.data-item {
  line-height: 2;
  font-size: 16px;
}

.btn-tool {
  width: 60px;
}
