.nav-container {
  background-color: #353a44;
  overflow: hidden;
  padding: 0;
  height: inherit;
}

.nav-custom {
  padding-top: 30px;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.nav-custom li a {
  border-radius: 0;
  color: darkgrey;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: -2px;

}

.nav-custom .active a {
  background-color: #2659ad!important;
}

.nav-custom li a:hover {
  background-color: #337ab7;
}

.content-container {
  height: inherit;
  background-color: #e7edf6;
  padding-left: 30px;
  padding-right: 30px;
}

.upper-div {
  height: 80px;
  margin-top: 30px;
}

.searchBar {
  position: relative;
  display: inline-block;
  width: 400px;
}

.searchBar input {
  height: 45px!important;
  font-size: 14px!important;
  border: 1px solid black;
}

.btn-search {
  color: grey;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-create-dataset {
  background-image: url(/img/btn_create_dataset.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  width: 120px;
  height: 45px;
}

.bottom-div {
  background-color: white;
  width: 100%;
  /*border: 3px solid #cddcf2;*/
  border-radius: 5px;
  box-shadow: 2px 2px 2px #aaaaaa;
}

.bottom-div ul {
  list-style: none;
}

.data-item {
  padding-top: 15px;
  padding-right: 10px;
}

@media (min-width: 768px){
  .eight-cols>.col-md-1,
  .eight-cols>.col-sm-1,
  .eight-cols>.col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .eight-cols>.col-md-1,
  .eight-cols>.col-sm-1,
  .eight-cols>.col-lg-1 {
    width: 12.5%;
    *width: 12.5%;
  }

  .eight-cols>.col-md-7,
  .eight-cols>.col-sm-7,
  .eight-cols>.col-lg-7 {
    width: 87.5%;
    *width: 87.5%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .eight-cols>.col-md-1,
  .eight-cols>.col-sm-1,
  .eight-cols>.col-lg-1 {
    width: 12.5%;
    *width: 12.5%;
  }

  .eight-cols>.col-md-7,
  .eight-cols>.col-sm-7,
  .eight-cols>.col-lg-7 {
    width: 87.5%;
    *width: 87.5%;
  }
}
