input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 30px;
    border-radius: 30%;
    background: cornflowerblue;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-thumb:active {
    background-color: aqua;
}

.active-nav-item {
  color: white!important;
}

@keyframes hover-effect {
  from {background-color: black;}
  to {background-color: #22bef7;}

  from {color: #9ccef9;}
  to {color: black;}
}

.navbar-inverse .navbar-text, .navbar-inverse .navbar-nav > li > a {
  color: #91b9cd;
}

.diagnosisRow:hover {
  cursor: pointer;
  background-color: #22bef7;
  color: black;

  animation-name: hover-effect;
  animation-duration: .75s;
}

.active-diagnosis-row {
   background-color: #20a5d6;
   color: black;
 }

.button:hover{
  color: #fff;
  cursor: pointer;
}

.magnifyTool {
  top: 0;
  left: 0;
  border: 4px white solid;
  box-shadow: 2px 2px 10px #1e1e1e;
  border-radius: 50%;
  display: none;
  cursor: none;
}

 /* prevents selection when left click dragging */
.disable-selection {
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
}

.popover-positioned-bottom {
  background-color: black;
  border-color: #91b9cd;
  color: #91b9cd;
  padding-bottom: 10px;
}

.popover-positioned-bottom > .arrow {
  display: none;
}

#rotate-popover {
  font-size: 10px;
}

.rotate-menu-item:hover {
  cursor: pointer;
}

.seriesPanel {
  left: -300px;
  position: absolute;
  background-color: black;
  width: 300px;
  z-index: 2;
  border: 1px #91b9cd solid;
  overflow-y:scroll;
}

.seriesPanel::-webkit-scrollbar {
  display: none;
}

.thumbnail-container {
  width: 240px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #4da2f2;
  border-radius: 10px;
  cursor: pointer;
}

.active-thumbnail {
  border-width: 4px;
}

.thumbnailDiv {
  width: 160px;
  height: 120px;
  margin: 0 auto
}

.thumbnail-info {
  color: white;
  font-size: 10px;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
